.account-list-component {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.account-list-card {
  width: 1340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}
